.event {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.event img {
  width: 30rem;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.actions a,
.actions a:visited,
.actions button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--color-gray-500);
}

.actions a:hover,
.actions button:hover {
  color: var(--color-gray-700);
}
